<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    <div id="all">
		{{ partial "header.html" . }}
        <div id="content">
            <div class="container">
                <div class="row">
					<div class="col-md-12">
						{{ .Content }}
					</div>
                    <!-- *** LEFT COLUMN *** -->

                   
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
