<div class="container-fluid sectionSpace client-says section-gray">
	<div class="container">
		<div class="row">
			<h3 style="" class="text-center">Our Clients Say...</h3>
			<div class="col-md-9 col-md-offset-1" >
				<span class="pull-right tve_right blue"></span>
				<div class="speech-conatiner">
					<span class="quote_left"></span>
					<p class="mb15">&#8203;As clinical nutrition managers, we are tuned into e-mail. It’s one of the major ways that we communicate within our organization also outside of our organization. Everybody has their e-mail up all the time. Most of us are using it for day to day problems that arise.</p>
					
					<p class="mb15">It's one of our best membership benefits to be able to join this Listserv and have all of these people when you have a question about your day to day practice or there are some regulatory agencies that frequent hospitals and this way you can share what was discovered at your institution what they considered to be of a problem and what type of answers did you come up with.&#8203;</p>
					
					<p style="">I don’t have to spend a lot of time administering it. It’s pretty simple, and has been problem free. I mean I haven’t had to do a whole lot, it just kind of takes care of itself. And when the problem has been at one of the hospitals, they will actually talk with their IT department and work it out.&#8203;</p>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<div class="tve_ts_o">
					<div  class="client-img"> 
						<img src="/images/Deb-Hutsler.jpg" alt="" class="img-responsive">
					</div> 
					<span class=""> <strong>Deb Hustler</strong> Clinical Nutrition Management Dietetic Practice Group (900 members)</span>
				</div>
			</div>
		</div>
	</div>
</div>
