<div class="container-fluid sectionSpace">
	<div class="container">
		<div class="row">			
			<div class="col-md-8 col-sm-12">
				<h3 style="margin-top: 0px ! important;" class="">Guaranteed delivery into your member's Inbox</h3>
				<p><strong>PDF's, MS Word documents, Excel spreadsheets, photos, graphics, etc.</strong></p>
				<ul class="plus-blue-list">
					<li>Use our <a class="" href="https://www.mail-list.com/clickable-attachments/">Clickable Attachments</a> and bypass the spam filters</li>
					<li>Unclog your subscriber's inbox, by allowing them to choose which attachments they want</li>
					<li>Get a report on how many times an attachments was download</li>
					<li>If attachments is too big for ISP's, we automatically convert it to a clickable link</li>
					<li>No need to upload documents to a separate folder, like Yahoo Groups</li>
					<li>We check all your attachments agains two different virus checkers</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-12">
				<p style="font-size: 14px;">The Clickable Attachments option also lets you see how many people are actually downloading the attachments, so you can know what is hot</p>				
				<div> 
					<span class="tve_image_frame"> 
						<img alt="monitor delivery for your listserv" src="/images/attachments-report.png" class="img-responsive" > 
					</span>
				</div>
			</div>
		</div>
	</div>
</div>