<div class="container-fluid sectionSpace">
	<div class="container">
		<div class="row">
			<h1 class="text-center">Need to replace your listserv hosting provider?</h1>
			<div class="col-md-6 col-sm-12">
				<h3 style="margin-top: 35px ! important;" class="">Are you tired of all those nuisance support issues you have?</h3>
				<ul class="warning-list">
					<li>Emails Being Blocked Or Tagged As Spam?</li>
					<li>System Is Not User Friendly (Especially for your more senior members)?</li>
					<li>Administration Is Difficult, And You Are Overwhelmed?</li>
					<li>Support For Attachments Is A Pain</li>
					<li >People Keep Asking The Same Questions (Because you don't have a searchable archive)?</li>
				</ul>
				
			</div>
			<div class="col-md-6 col-sm-12">			
				<video width="100%" height="auto" controls>
					<source src="/video/service.mp4" type="video/mp4" >
				</video>
			</div>
		</div>
		<div class="row">
			<p ><strong>Here's how you can get your time and sanity back.</strong></p>
			<div class="col-md-7 col-sm-12">
				<h3 style="margin-top: 0px ! important;" class="">Guaranteed delivery into your member's Inbox</h3>
				<p style="" class="bold_text"><strong>Here's how we do it.</strong></p>
				<ul class="plus-blue-list">
					<li class="">We specialize in hosting for Email Discussion Groups, which gives us a <a class="" href="https://www.mail-list.com/reputation-score/">great reputation at the ISP's</a>. If you use the same places that send marketing spam, your emails will get marked as spam too.</li>
					<li style="" class="">Even if an email is first blocked as spam, we get around it with an <a class="" href="http://bounce-re-delivery-system.com/">&#65279;independent system that sends the email out in a different format&#65279;</a>. 100% automatically</li>
					<li style="" class=""><a class="" href="https://www.mail-list.com/inbox-monitoring/">&#65279;Monitor your email delivery into the Inbox&#65279;</a> at the leading ISP's in real time</li>
					<li style="" class="">You can see the &#65279;<a class="" href="http://help.mail-list.com/m/59114/l/558224-how-do-i-get-mail-delivery-logs-for-a-subscriber">delivery logs</a>&#65279; for any message with our easy to use web interface.</li>
					<li style="" class="">Our short term web archive stores all your messages for emergencies</li>
				</ul>
			</div>
			<div class="col-md-5 col-sm-12">
				<p style="font-size: 14px;">Monitor delivery into the inbox in real time at the largest ISP's</p>				
				<div> 
					<span class="tve_image_frame"> 
						<img alt="monitor delivery for your listserv" src="/images/inbox-monitor.png" class="img-responsive" > 
					</span>
				</div>
			</div>
		</div>
	</div>
</div>