<div class="container-fluid sectionSpace">
	<div class="container">
		<div class="row">			
			<div class="col-md-8 col-sm-12">
				<h3 style="margin-top: 0px ! important;" class="">Put your members directly on your list</h3>
				<p><strong>With our listserv hosting, no need to reply to a confusing invitation or set up a special account</strong></p>
				<ul class="plus-blue-list">
					<li>Copy and paste their email addresses and put them directly on your list</li>
					<li>Or send them an invitation if you are not sure if they want on your list</li>
					<li>Compare your database against who is on the list, on the digest, and on vacation</li>
				</ul>
				<p class="mt40">
				<a href="{{ .Site.BaseURL }}pricing/" class="btn-orange btn-nr-lg">See Plans &amp; Pricing</a>
				</p>
			</div>
			<div class="col-md-4 col-sm-12">
				<p style="font-size: 14px;">Use our web interface to copy and paste your list of subscribers.</p>				
				<div> 
					<span class="tve_image_frame"> 
						<img alt="monitor delivery for your listserv" src="/images/add-subscribers.png" class="img-responsive" > 
					</span>
				</div>
			</div>
		</div>
	</div>
</div>