<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
	<div class="wrapper">
		<div id="all">
			{{ partial "header.html" . }}
        <div id="content">
            {{ if isset .Params "id" }}
              {{ partial .Params.id . }}
            {{ else }}
            <div class="container">
                <div class="row">
					<div class="col-md-4 side-video-list">
						{{ partial "videolist.html" .}}
					</div>
					<div class="col-md-8">
						<ul class="tve_ul6 bullet-list">
							{{ range (where .Site.Pages "Layout" "videopage") }}
							  <li>
								<h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
								
								 {{ if .Params.bullets }}
								<ul>
								  {{range  .Params.bullets }}
									<li>
										{{ . }}
									</li>
								  {{end}}
								</ul> 
							{{end}}
							  </li>
							  
							 
							  
							  
							{{ end }}
						</ul>
						

					</div>				
                    <div class="col-md-12 fggg">						
                        <div>						
							{{ if (eq $.Params.toc true) }}
								<h1>{{ .Title }}</h1>
								{{ .TableOfContents }}
							{{ end }}
                         
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            {{ end }}
        </div>
        <!-- /#content -->
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
	</div>
  </body>
</html>
