<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
	<div class="wrapper">
		<div id="all">
			{{ partial "header.html" . }}
        <div id="content">
            {{ if isset .Params "id" }}
              {{ partial .Params.id . }}
            {{ else }}
            <div class="container-fluid sectionSpace">
                <div class="row">
					<div class="col-md-4 side-video-list">
						{{ partial "videolist.html" .}}
					</div>
					<div class="col-md-4">
						<ul class="tve_ul6 bullet-list">							
							{{ range $index, $element :=(where .Site.Pages "Layout" "videopage")  }}
							  {{ if le ($index)  3 }}
							  <li>
								<h3><a href="{{ .URL }}">{{ .Params.stitle }} </a></h3>
								
								 {{ if .Params.bullets }}
								<ul>
								  {{range  .Params.bullets }}
									<li>
										{{ . }}
									</li>
								  {{end}}
								</ul> 
							{{end}}
							  </li>
							  {{ end }}
							{{ end }}
						</ul>
					</div>	
					
					<div class="col-md-4">
						<ul class="tve_ul6 bullet-list">							
							{{ range $index, $element :=(where .Site.Pages "Layout" "videopage")  }}
							 {{ if gt ($index)  3 }}
							  <li>
								<h3><a href="{{ .URL }}">{{ .Params.stitle }} </a></h3>
								
								 {{ if .Params.bullets }}
								<ul>
								  {{range  .Params.bullets }}
									<li>
										{{ . }}
									</li>
								  {{end}}
								</ul> 
							{{end}}
							  </li>
							  {{ end }}
							{{ end }}
						</ul>
					</div>	
					
					
					
                   
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            {{ end }}
        </div>
        <!-- /#content -->
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
	</div>
  </body>
</html>
