<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
	<div class="wrapper">
		<div id="all">
			{{ partial "header.html" . }}
        <div id="content">
            {{ if isset .Params "id" }}
              {{ partial .Params.id . }}
            {{ else }}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
						
                        <div>
						
							{{ if (eq $.Params.toc true) }}
								<h1>{{ .Title }}</h1>
								{{ .TableOfContents }}
							{{ end }}
						
                          {{ .Content }}
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            {{ end }}
        </div>
        <!-- /#content -->
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
	</div>
  </body>
</html>
