<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
<div class="wrapper">
    <div id="all">		
		{{ partial "header.html" . }}
		<!--{{ partial "service-need-replace.html" . }}
			{{ partial "clients-says.html" . }}
		{{ partial "service-include-really-big.html" . }}
		{{ partial "clients-says-deb.html" . }}
		{{ partial "service-members-directly.html" . }}
		{{ .Content }}
		-->
		<div class="container-fluid sectionSpace" >
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center"> Create An Unlimited Number Of Email Discussion Groups Per Organization</h1>
						<h3 style="" class="text-center">Pay one flat fee for each unique subscriber on your list(s)</h3>
						<h3 style="" class="text-center">No matter how many messages you send, or how big your attachments are</h3>
						<h3 style="" class="text-center">If a person is on multiple lists, you only pay once</h3>
						
						
						<h1>Pricing Table Space here</h1>
					<!--	<div class="table-responsive compare-table">
						<table class="table table-hover table-bordered text-center ">
							
							<thead >
								<tr>
									<th class="text-center">
									</th>
									<th class="text-center editor_selected_col">
										Mail-List.com
									</th>
									<th class="text-center">
										Google Groups
									</th>
									<th class="text-center">
										Yahoo Groups
									</th>
									<th class="text-center">
										Lsoft Listserv
									</th>
								</tr>
							</thead>
							<tbody>
								 {{ range $index, $element := sort .Site.Data.compare "weight" }}
								<tr>
									<td >
										<span {{ if $element.toolip  }} class="zebra_tips1" title="{{ $element.toolip  }}" {{ end }}>{{ $element.service | markdownify }} </span>
									</td>
									<td class="editor_selected_col">
										{{ $element.MailList  | markdownify}}
									</td>
									<td>
										{{ $element.GoogleGroups | markdownify }}
									</td>
									<td>
										{{ $element.YahooGroups | markdownify }}
									</td>
									<td>
										{{ $element.LsoftListserv | markdownify }}
									</td>
								</tr>
								{{ end }}
							</tbody>
						</table>
					</div>
					-->
					<h3 style="" class="text-center">Free 30 Day Trial, no credit card required.</h3>
					<h4 style="" class="text-center">No Setup Fee, when you do it yourself</h4>
						{{ .Content }}
					</div>
				</div>
			</div>
		</div>
		
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
</div>
{{ partial "footer.html" . }}
  </body>
</html>
